<div class="panel panel-primary">
	<div class="panel-heading">					
					<button type="button" class="btn btn-default btn-sm">
					  <span class="glyphicon glyphicon-chevron-left"></span><%= link_to 'Back', pins_path %>
					</button></div>
		 	<div class="panel-body">
		 		<div class="page-header">
					  <h1><%= @pin.description %></h1>
				</div>

				<div class="panel panel-center">
							<%= image_tag @pin.image.url(:large), :class=> "show" %>
				</div>    

        <div class="well">
        	<h3> Image uploaded by
        	<%= @pin.user.email %>
        	</h3>
        </div>


			</div>

			<div class="panel-footer">
				<% if @pin.user == current_user %>
					<button type="button" class="btn btn-default btn-lg">
					  <span class="glyphicon glyphicon-pencil"></span><%= link_to 'Edit', edit_pin_path(@pin) %>
					</button>
				<% end %>
			</div>
	</div>
</div>